# Data 
data/raw/
data/*.db

# Trained models
models/*.pkl

# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/